#header {
  background-color: white;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    .header_nav {
      display: flex;
      gap: 20px;
      h5 {
        font-size: 30px;
        font-weight: 300;
      }
    }
  }
}
