.admin_tema {
  h5 {
    margin-top: 40px;
    font-size: 30px;
    color: black;
    font-weight: 500;
    text-align: center;
  }
}

.admin {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  input {
    width: 500px;
    height: 70px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    padding-left: 30px;
    outline: none;
  }
}

button {
  width: 170px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  background-color: orange;
  color: white;
}
